<div class="container dt_desktop">
    <div class="row footer_width_1127">
        <div class="col-md-7 text-left footer_top_left">
            <span onclick="go_url('#')">ABOUT US</span>
            <span onclick="go_url('#')">FAQ</span>
            <span onclick="go_url('#')">CONTACT US</span>
            <span onclick="go_url('#')">SMART MARKER RETAILER</span>
            <span onclick="go_url('golfzon','facebook')"><i class="fa fa-facebook-square"></i> Facebook</span>
        </div>
        <div class="col-md-5 text-right footer_top_right">
            <span onclick="go_url('#')">LBS Terms and Conditions</span>
            <span onclick="go_url('#')">Privacy Policy</span>
            <span onclick="go_url('#')">Theme of Use</span>
        </div>
        <div class="col-md-12 line_bar_1127 dt_desktop"></div>
        <div class="col-md-10 footer_bottom_left">
            Name of company : Golfzon. CO. LTD | Name of rep. : PARK KI WON | Business reg. no. : 122-87-00053 <br/>
            Address : GOLFZON TOWER SEOUL, 735, Yeongdong-daero, Gangnam-gu, Seoul, 06072, Rep. of KOREA | Customer Service : (Korea)+82 1577-4333
        </div>
        <div class="col-md-2 footer_bottom_right">
            <img src="assets/img/logo.png" /><br/>
            COPYRIGHT Golfzon CO.Ltd ALL RIHGT RESERVED
        </div>
    </div>
</div>

<div class="container dt_mobile">
    <div class="row">
        <div class="col-md-12 footer_mobile_bottom_left upup">
            <img src="assets/img/logo.png" /><br/>
        </div>
        <div class="col-md-12 footer_mobile_bottom_left">
            122-87-00053<br/>
            +82 1577-4333
        </div>
        <div class="col-md-12 footer_mobile_bottom_left">
            Name of company : Golfzon. CO. LTD | Name of rep. : PARK KI WON | Business reg. no. : 122-87-00053 <br/>
            Address : GOLFZON TOWER SEOUL, 735, Yeongdong-daero, Gangnam-gu, Seoul, 06072, Rep. of KOREA | Customer Service : (Korea)+82 1577-4333
        </div>
        <div class="col-md-12 footer_mobile_bottom_left">
            Copyright Golfzon CO.Ltd all right reserved
        </div>
    </div>
</div>