<div class="container navbar_container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <!--<img src="assets/images/mobile/btn-gnb.png"/>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
        </button>
        <a class="navbar-brand scroll-section" href="index.html"><img src="assets/img/logo.png" class="navbar_logo img-responsive" alt=""></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main_menu">
        <ul class="nav navbar-nav navbar-right">
            <li data-navmenu="device"><a class="scroll-section" href="index.html">device</a></li>
            <li data-navmenu="apps"><a class="scroll-section" href="apps.html">apps</a></li>
            <li data-navmenu="guide"><a class="scroll-section" href="guide.html">guide</a></li>
            <!--<li data-navmenu="myreport"><a class="scroll-section" href="#">my report</a></li>-->
            <!--<li data-navmenu="contact"><a class="scroll-section" href="#">contact</a></li>-->
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->