.header_bg_apps{
    background-image: url("../images/apps/img-top-banner.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 0,0;*/
    background-position: 50% 50%;
    height: 590px;
    /*background-attachment: fixed, fixed;*/
}

.header_title_top{
    color:white !important;
}

.reset_opacity{
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}


.apps_01{
    margin-top:-3px;
    background-image: url('../images/apps/bg-01.png');
    padding-top: 50px;
    height: 624px;
    background-repeat: no-repeat;
    background-size: cover;
}

.apps_01_overloay img{
    margin-top: 10%;
}

.apps_02{
    background-image: url('../images/apps/bg-02.png');
    /*background-position: cover;*/
    padding-top:50px;
    height: 624px;
    background-repeat: no-repeat;
    background-size: cover;
}
.apps_02_overloay{
    margin-left: 50% !important;
    float:right !important;
    text-align:right !important;
}

.apps_02_overloay img{
    vertical-align: bottom;
}

.apps_02_overloay img{
    position: absolute;
    float: right !important;
    bottom: 0;
    right: 0;
}

.apps_img-responsive{
    display: block;
    max-width: 150%;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.apps_title{
    font-family: SpoqaHanSans-Regular !important;
    font-size: 30px;
    margin-bottom:20px;
    font-weight: 600;
    line-height: 1.28;
    color:white;
}

.apps_title1 {
    margin-top:48px;
    font-weight: bold;
    text-transform: uppercase;
}
.apps_title2{
    margin-bottom:20px;
}
.apps_info_info{
    /*font-family: SpoqaHanSans-Light;*/
    font-family: SpoqaHanSans-Light !important;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: -0.8px;
    text-align: left;
    color: #ffffff;
}

.apps_feature{
    margin-bottom:60px;
}

.white-space-nowrap{
    white-space: nowrap;
}

.app_featrue_title{
    font-family: Montserrat !important;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.apps_feature_number{
    color: rgba(123, 123, 123, 0.9);
}

.apps_feature_number div{
    background-color: #7c7c7c;
}

.apps_feature_title{
    margin-top: 0;
    margin-bottom: 0;
    font-family: SpoqaHanSans !important;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
}

.apps_feature_title span{
    font-family: SpoqaHanSans !important;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
}

.apps_feature_info{
    font-family: SpoqaHanSans-Regular !important;
    text-align: left;
    color: #7b7b7b;
    margin-top: -5px;
    margin-bottom: 20px;
}

@media (max-width: 1279px)
{
    .header_bg_apps{
        background-image: url("../images/mobile/apps/bg-top-banner.png") ;
        background-size: cover;
        background-repeat: no-repeat;
        /*background-position: 0,0;*/
        background-position: 50% 50%;
        height: 630px;
        /*background-attachment: fixed, fixed;*/
    }

    .header_download_btn{
        text-align: center;
        margin-top: 235px;
    }

    .dt_apps_mobile_header{
        margin-top: 235px;
    }

    .btn_user_guide{
        width: 152px;
        height: 38.5px;
        display: inline-block;
        object-fit: contain;
        mix-blend-mode: undefined;
        border-radius: 7px;
        border: solid 4px rgba(255,255,255,0.5);
        padding-left: 6px;
        padding-top: 10.5px;
        margin-right: 0px;
    }

    .ic_download {
        display: inline-block;
        vertical-align: top;
        width: 14px;
        height: 9.25px;
        object-fit: contain;
    }

    .device_title{
        /*font-size: 34px;*/
    }

    .btn_user_guide_text {
        vertical-align: top;
        padding-top:5px;
        font-size: 10.5px;
        margin-left: 0.75px;
        margin-top: -5px;
    }

    .apps_01 {
        margin-top: -3px;
        background-image: url('../images/mobile/apps/bg-01.png');
        padding-top: 50px;
        height: 100vh;
        max-height: 790px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .apps_02 {
        margin-top: -3px;
        background-image: url('../images/mobile/apps/img-mockup-tablet-copy.png'), url('../images/mobile/apps/bg-02.png');
        padding-top: 50px;
        height: 80vh;
        max-height: 790px;
        background-repeat: no-repeat;
        background-size: contain, cover;
        background-position: right bottom, 0 0;
    }

    .device_info_info {
        margin-top: 25px;
    }

    .apps_no_img{
        margin-top: 36vh;
    }

    .color_black{
        color:black;
    }
    .apps_img_box{
        width: 60vw;
        height: auto;
    }
    .apps_img_box img{
        width:100%;
        height:auto;
        object-fit: contain;
    }

    .apps_bottom{
        margin-bottom: 50px;
    }

    .apps1_img{
        width: auto;
        height: 28vh;
    }
}