.navbar_container{
    margin:0 !important;
    padding-left: 30px;
    padding-right: 30px;
    width:100%;
}

.scroll-section{
    font-family:  Roboto;
}

.navbar_logo{
    width:123px;
    height: auto;

}

.reset_opacity{
    opacity: 1;
}

.header_bg{
    background-image: url("../images/bg-top-banner.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 0,0;*/
    background-position: 50% 50%;
    height: 590px;
    /*background-attachment: fixed, fixed;*/
}
.header_bg_swing{
    background-image: url("../images/img-swing-effect.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(100% - 1000px) 0;
    opacity: 0.35;
    background-color: #090909;
}
.header_title_top {
    display:block;
    margin-bottom: 25px;
    width: 579px;
    max-height: 24px;
    /*width: 38vw;*/
    height: 4vh;
    opacity: 0.7;
    mix-blend-mode: undefined;
    font-family: Montserrat-Light;
    font-size: 2em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}

.header_title_main{
    display:block;
    margin-bottom: 25px;
    width: 392px;
    max-height: 38px;
    /*width: 26vw;*/
    height: 5vh;
    opacity: 0.89;
    mix-blend-mode: undefined;
    font-family: Montserrat-Light;
    font-size: 52px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.87;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.89);
}

.header_title_sub{
    display:block;
    margin-bottom: 27px;
    width: 429px;
    height: 54px;
    mix-blend-mode: undefined;
    /*font-family: Montserrat;*/
    font-family: Montserrat-Light;
    font-size: 14px;
    font-weight: 200;
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #ffffff;
}

.btn_user_guide {
    display:inline-block;
    width: 243px;
    height: 58px;
    object-fit: contain;
    mix-blend-mode: undefined;
    border-radius: 7px;
    border: solid 4px rgba(255,255,255,0.5);
    padding-left : 20px;
    padding-top: 14px;
    margin-right:20px;
}

.ic_download {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 19px;
    object-fit: contain;
    mix-blend-mode: undefined;
}

.btn_user_guide_text{
    display: inline-block;
    width: auto;
    height: 18px;
    mix-blend-mode: undefined;
    font-family: Montserrat;
    /*font-size: 18px;*/
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    margin-left: 13px;
    color: #ffffff;
}
.padding-50{
    padding: 50px;
}
.video_field{
    width: 939px;
    margin: 0 auto;
}

.video_title{
    width: 400px;
    height: auto;
    mix-blend-mode: undefined;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: left;
    float:left;
    text-transform: uppercase;
    color: #333333;
}

.video_dropbox{
    width: 140px;
    height: 44px;
    mix-blend-mode: undefined;
    border-radius: 5px;
    /*background-color: #555555;*/
    border: solid 1px #555555;
    float: right;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #333333;
}
.video_iframe{
    margin-top: 30px;
}

.video_iframe iframe{
    width: 100%;
    height: 528px;
}

.device_01{
    background-image: url('../images/bg-01.png');
    padding-top: 50px;
    height: 503px;
    background-repeat: no-repeat;
    background-size: cover;
}
.device_02{
    background-image: url('../images/bg-02.png');
    /*background-position: cover;*/
    padding-top:50px;
    height: 503px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:991px) {
    .device_02 > .overlay {
        text-align: center;
        object-fit: cover;
    }
    .device_02 img{
        object-fit: cover;
        width:auto;
        height:auto;
    }
}
@media (min-width: 992px) and (max-width:1366px){
    .device_02 img{
        margin-top:50px;
        margin-left: calc(66vw - 100%);
    }
}
@media (min-width: 992px) and (max-width:1366px){
    .device_02 img{
        margin-top:50px;
        margin-left: calc(66vw - 100%);
    }
}
@media (min-width: 1367px) and (max-width:1920px){
    .device_02 img{
        margin-top:50px;
        margin-left: calc(84vw - 100%);
    }
}
@media (min-width:1921px){
    .device_02 img{
        margin-top: 50px;
        margin-left: calc(95vw - 100%);
    }
}

.device_03{
    background-image: url('../images/bg-03.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 503px;
    padding-top:50px;
}

.device_04{
    background-color:white;
    padding-top:200px;
}

.div-vertical {
    padding-top: 50%;
    padding-bottom: 50%;
    height: 100%;
}

.device_number{
    display:block;
    font-family: Montserrat;
    font-size: 20.3px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.device_info{
    margin-top: 80px;
}

.device_number div{
    display:inline-block;
    width: 41px !important;
    height: 5px !important;
    object-fit: contain;
    background-color: #15e732;
    vertical-align: middle;
    margin-left:10px;
}

.device_title{
    font-family: Montserrat-bold;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.device_title1 {
    margin-top:48px;
    font-weight: bold;
}
.device_title2{
    font-family: Montserrat-bold;
    margin-bottom:20px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.28;
}
.device_info_info{
    font-family: Montserrat-light;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: -0.8px;
    text-align: left;
    color: #ffffff;
}

.device_spec_info{
    margin-top:150px;
}
.device_spec_info > .device_title1{
    color:#333333 !important;
}

.device_spec_info div {
    color:black !important;
}

.device_spec_title{
    margin-top:48px;
    margin-bottom: 30px;
}
.device_spec_ext_ext{
    width:324px;
}
.device_spec_ext{
    display:block;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.97;
    letter-spacing: -0.8px;
    text-align: left;
    color: #000000;
    width: 100%;
}

.device_spec_left{
    text-align: left;
}

.device_spec_right{
    width:100px;
    float:right;
    text-align: left;
}

.device_spec_info{
    padding-left: 10px;
    padding-right: 10px;
 }

.footer_width_1127{
    max-width: 1127px;
}

.line_bar_1127{
    width: 1127px;
    height: 1px;
    background-color: #9F9F9F;
}

.footer_top_left span{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.21;
    letter-spacing: normal;
    text-align: left;
    margin-right:30px;
    color:white !important;
    cursor: pointer;
}

.footer_top_right span{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.67;
    letter-spacing: normal;
    color: #ffffff;
    cursor: pointer;
    margin-left:30px;
    float: right;
    text-align:right;
}

.footer_bottom_left{
    font-family: Roboto;
    font-size: 12.1px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.67;
    letter-spacing: normal;
    text-align: left;
}

.footer_bottom_left{
    font-family: Roboto;
    width: 850px !important;
    font-size: 12.1px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.67;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

.footer_bottom_right{
    font-family: Roboto;
    width: 270px !important;
    font-size: 10.1px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.5;
    letter-spacing: normal;
    float:right;
    text-align: right;
    color: white;
}

.footer_bottom_right img{
    width: 140px;
    height: 34px;
}


.device_feature_title{
    opacity: 0.9;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.74;
    letter-spacing: -1.8px;
    text-align: left;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;
}


.device_feature{
    margin-top: 30px;
    padding-left:20px;
    padding-right:20px;
}

.device_feature span{
    margin-top:20px;
    font-family: SpoqaHanSans;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.78;
    letter-spacing: -1.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
}

.dt_footer{
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width:1280px) {
    .dt_mobile {
        display: none !important;
    }
}
/*아래부터는 모바일 전용처리*/
@media (max-width:1279px){
    .dt_desktop{
        display:none !important;
    }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
    .navbar-nav {
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible !important;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
        height: auto!important;
        padding-bottom: 0;
        overflow-x: visible !important;
        overflow-y: auto !important;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-toggle{
        display:block;
        float:left;
        border:none !important;
        padding-top:0;
        padding-bottom:0;
        width:32px;
        height:32px;
        background:none;
        background-color: none !important;
        background-image: url("../../assets/images/mobile/btn-gnb.png") !important;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .appy-menu.navbar-default .navbar-toggle {
        background:none;
        background-color: none !important;
        background-image: url("../../assets/images/mobile/btn-gnb.png") !important;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }

    .navbar-toggle img{
        width:30px;
        height:30px;
    }

    .appy-menu .navbar-brand{
        padding: 15px;
        position: absolute;
        left: 50%;
        margin-left: -75px !important;
        display: block;
    }

    #home_banner {
        position: relative;
        /* height: 100%; */
        max-height: 630px;
        object-fit: contain;
    }

    .header_bg {
        background-image: url('../../assets/images/mobile/bg-top-banner.png');
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: 0,0; */
        background-position: 50% 50%;
        height: 630px;
        /* background-attachment: fixed, fixed; */
    }

    .header_bg_swing {

        height: 630px;
    }

    .header_title_top{
        width:100%;
        font-family: Montserrat !important;
        font-size: 48px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.87;
        letter-spacing: normal;
        text-align: center;
        text-transform: none;
        color:white;
    }

    .header_title_main{
        width:100%;
        font-family: Montserrat !important;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .header_title_sub{
        width:100%;
        font-family: SpoqaHanSans !important;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align:center;
        margin-top: 150px;
    }

    #video_mobile{
        width:100%;
        height: 60vh;
        max-height: 630px;
    }

    #video_mobile iframe{
        width: 100%;
        height: 100%;
        position: relative;
        margin-bottom: -5px;
        object-fit: cover;
    }

    .device_title{
        font-family: Montserrat-bold !important;
    }

    html[xmlns*=""] body:last-child .video_mobile iframe{
        margin-left: 50%;
    }

    .device_01{
        height: 130vh;
        max-height: 900px;
        background-image: url("../images/mobile/bg-01.png");
    }

    .device_02{
        height: 100vh;
        max-height: 900px;
        background-image: url("../images/mobile/bg-02.png");
    }

    .device_03{
        height: 90vh;
        max-height: 900px;
        background-image: url("../images/mobile/bg-03-copy.png");
    }

    .device_04{
        padding-top: 0px;
        height: 70vh;
        max-height: 900px;
    }

    .device_number{
        width: 100%;
        text-align: center;
    }
    .device_numver div{
        margin-bottom: 10px;
    }

    .device_title1{
        width: 100%;
        text-align: center;
        font-size: 22px;
    }

    .device_title2{
        font-family: Montserrat !important;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.15;
        text-align: center;
    }

    .device_info_info{
        font-family: SpoqaHanSans !important;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        width: 100%;
        margin-top: 50px;
    }

    .device_no_img{
        margin-top: 40vh;
    }

    .device02_img_center{
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: none;
        left: -320px;
        bottom: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .device03_img_bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .device_04 .overlay{
        width:0;
    }
    .device_spec_title{
        font-family: Montserrat !important;
        font-size: 39px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.15;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
    }

    .dt_number{
        padding-left:10px;
    }

    .dt_mobile_line{
        width: 90%;
        max-width: 486px;
        margin-left: auto;
        margin-right: auto;
        height: 1px;
        opacity: 0.5;
        background-color: #000000;
        margin-bottom: 20px;
    }

    .dt_mobile_line_bottom{
        margin-top: 20px;
    }

    .device_spec_ext_ext{
        width: 90%;
        max-width: 486px;
        margin-left: auto;
        margin-right: auto;
    }

    .device_feature_title{
        font-family: Montserrat !important;
        font-size: 30px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: -2.1px;
        width: 100%;
        text-align: center;
        color: rgba(0, 0, 0, 0.9);
    }

    .device_feature_img_box{
        width:377px;
        height:303px;
        padding-top: 235px;
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center top;
    }
    .device_feature_img_box.box1 {
        background-image: url("../images/mobile/info-feature-01.png");
    }
    .device_feature_img_box.box2 {
        background-image: url("../images/mobile/info-feature-02.png");
    }
    .device_feature_img_box.box3 {
        background-image: url("../images/img-03.png"), url("../images/mobile/info-feature-02.png");
        background-size: 366px auto,contain !important;
        background-position: 0 0,center top !important
    }

    .device_feature_img_box div{
        opacity: 0.9;
        mix-blend-mode: undefined;
        font-family: SpoqaHanSans !important;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.53;
        letter-spacing: -1.2px;
        color: rgba(0, 0, 0, 0.9);
        width:100%;
        text-align:center;
    }

    .footer_mobile_bottom_left{
        font-family: Roboto !important;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer_mobile_bottom_left .upup{
        margin-top: 50px;
    }

    .footer_mobile_bottom_left img{
        width: 150px;
        height: 37px;
    }
}