.header_bg_guide{
    background-image: url("../images/guide/bg-top-banner.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 0,0;*/
    background-position: 50% 50%;
    height: 590px;
    /*background-attachment: fixed, fixed;*/
}

.header_bg_guide .overlay img {
    position: absolute;
    bottom: 0;
    right:0;
}

.reset_opacity{
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}

.guide_01{
    margin-top:-3px;
    background-image: url('../images/guide/bg-01.png');
    padding-top: 50px;
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
}

.guide_title1{
    text-transform: uppercase;
    font-family: Montserrat-SemiBold !important;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-bottom: 20px;
}

.guide_info_info span{
    display: block;
    margin: 10px 0;
    color: rgba(0,0,0,0.9);
}

.font_koko{
    font-family: SpoqaHanSans !important;
}

.font_koko span {
    font-family: SpoqaHanSans !important;
}

.guide_slider{
    background-image: url('../images/guide/bg-02.png');
    padding-top: 50px;
    height: 769px;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider_title{
    font-family: SpoqaHanSans !important;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.58);
}

.slider_title span{
    font-family: Montserrat !important;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.41;
}

.slider_title_sub{
    opacity: 0.8;
    font-family: Montserrat !important;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.05;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}
.slider_block{
    width: 426px;
    height: 398px;
    object-fit: contain;
    z-index: 900;
    background-color: #39393e;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 16px;
    display: table;
    opacity: 0.5;
}

@media all and (-ms-high-contrast:none)
{
    .slider_block_clear {
        width: 426px;
        height: 398px;
        color: transparent;
        background-color: transparent;
    }/* IE10 */
    *::-ms-backdrop, .slider_block_clear {
        width: 426px;
        height: 398px;
        color: transparent;
        background-color: transparent;
    }/* IE11 */
}

.slider_block_big{
    width: 484px;
    height: 454px;
    object-fit: contain;
    z-index: 999;
    background-color: #39393e;
    box-shadow: 1.8px 4.7px 25.5px 4.5px rgba(0, 0, 0, 0.2);
    font-size: 22px;
    padding:auto;
    display: table;
    opacity: 1;
}

.slider_block_margin_bottom{
    margin-bottom: 30px;
}

.slider_block_cell{
    display:table-cell;
    height:auto;
    vertical-align: middle;
}

.slider_block_clear{
    /*display:none;*/
    visibility: hidden;
}

.slider_block_number{
    font-family: Montserrat !important;
    font-size: 1.5em;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: -1px;
    text-align: center;
    color: #dfe6df;
}

.slider_block_title{
    font-family: SpoqaHanSans !important;
    font-size: 1.6em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #18bd2f;
}

.slider_block_info{
    font-family: SpoqaHanSans !important;
    font-size: 1.2em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.slider_arrow_left{
    position: absolute;
    top: 350px;
    left: -20px;
    cursor: pointer;
}

.slider_arrow_right{
    position: absolute;
    top: 350px;
    float: right;
    right: -20px;
    cursor: pointer;
}

@media (max-width: 1279px)
{
    .header_bg_guide{
        background-image: url("../images/mobile/guide/bg-top-banner.png") ;
        background-size: cover;
        background-repeat: no-repeat;
        /*background-position: 0,0;*/
        background-position: 50% 50%;
        height: 630px;
        /*background-attachment: fixed, fixed;*/
    }

    .header_download_btn{
        text-align: center;
        margin-top: 235px;
    }

    .dt_guide_mobile_header{
        margin-top: 235px;
    }

    .btn_user_guide{
        width: 152px;
        height: 38.5px;
        display: inline-block;
        object-fit: contain;
        mix-blend-mode: undefined;
        border-radius: 7px;
        border: solid 4px rgba(255,255,255,0.5);
        padding-left: 6px;
        padding-top: 10.5px;
        margin-right: 0px;
    }

    .ic_download {
        display: inline-block;
        vertical-align: top;
        width: 14px;
        height: 9.25px;
        object-fit: contain;
    }

    .device_title{
        font-size: 34px;
    }

    .btn_user_guide_text {
        vertical-align: top;
        padding-top:5px;
        font-size: 10.5px;
        margin-left: 0.75px;
        margin-top: -5px;
    }

    .guide_01 {
        margin-top: -3px;
        background-image: url('../images/mobile/guide/bg-01.png');
        padding-top: 50px;
        min-height: 790px;
        height: 100%;
        max-height: 1200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .guide_02 {
        margin-top: -3px;
        background-image: url('../images/mobile/guide/img-mockup-tablet-copy.png'), url('../images/mobile/guide/bg-02.png');
        padding-top: 50px;
        height: 790px;
        background-repeat: no-repeat;
        background-size: contain, cover;
        background-position: 0 bottom, 0 0;
    }

    .guide_no_img{
        margin-top: 52vh;
    }

    .color_black{
        color:black;
    }
    .guide_img_box{
        width: 60vw;
        height: auto;
    }
    .guide_img_box img{
        width:100%;
        height:auto;
        object-fit: contain;
    }

    .guide_bottom{
        margin-bottom: 50px;
    }

    .guide_01{
        height: 580px;
    }

    .mobile_slider .item{
        display:table;
    }

    .guide_slider_box{
        display: table-cell;
        vertical-align: middle;
        width: 69.6875vw;
        max-width: 446px;
        height: 42.21973094170404vh;
        max-height: 269px;
        background-color: white;
        opacity: 0.7;
    }

    .guide_slider_box .slider_block_number{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .guide_slider_box .slider_block_title{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .guide_slider_box .slider_block_info{
        font-size: 15px;
    }

    .color_bg_black{
        background-color: #383838;
        opacity: 1;
        box-shadow: 1.1px 2.8px 10px 0 rgba(0, 0, 0, 0.15);
    }

    .guide_slider_up{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .slider-margin-bottom{
        margin-bottom: 40px;
    }

    .white-space-nowrap{
        white-space: nowrap;
    }


}